{% extends "nav.html" %}
{% block title %}
SoleStride Set Password
{% endblock title %}
{% block form %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% for message in messages%}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong></strong>{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endfor%}
<div class="signup-form">
    
    <form action="{% url "set-new-password" uidb64 token %}" method="post">
        {% csrf_token %}
		<p class="hint-text">Set new Password</p>
        <div class="form-group">
            <input type="password" class="form-control" name="pass1" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="pass2" placeholder="Confirm Password" required="required">
        </div>  
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Confirm Changes</button>
        </div>
    </form>
	<div class="text-center"><a href="{% url "login" %}">Go Back</a></div>
</div>

{% endblock form %}